//
// @media(max-width 736px)
.work_guy
	position absolute
	top -6.5rem
	right 17%
	z-index 3
.work_cape
	position absolute
	top -4.8rem
	right 22%
	z-index -1
.work-wrap
	padding 0 0 200px
.work-item
	max-height 220px
	position relative
	&__icon
		margin 0 auto s1
	&__text
		max-width 220px
		text-align center
		margin 0 auto
	&:before
		content ''
		position absolute
		right -40%
		top 50%
		background-color clr-prim
		width 100%
		height 5px
		display block
		z-index -1
.work_btn
	border none
	background-color transparent
	color clr-second
	font-family 'Montserrat'
	font-weight 600
.work_btn:hover
	// filter: drop-shadow(1px 0px 6px #ffce00) drop-shadow(1px 0px 2px #ffce00)
	filter: drop-shadow(1px 0px 4px #ffce00)
.work-item--7:before
	background-color transparent

.modal-contants_item
	margin-bottom 20px
	color #fff


@media (max-width 480px)
	.work_guy
		right 3%
	.work_cape
		right 20%
	.work-wrap .slick-dots li:first-child
		margin-left 15px !important
	.work-wrap .slick-dots li
		width 10px !important