.form2-wrap
	display flex
	flex-direction column
	justify-content center
	align-items center

.form2
	background-color: clr-bg--d
	padding 62px 56px 68px 62px
	border-radius 16px
	display flex
	justify-content space-between
	margin-bottom 86px
	.form-title
		max-width: 504px
		margin-bottom 0
	.g-input
		margin-right 26px

.form2-call
	display flex
	justify-content space-between
	align-items center
	margin-bottom 26px
.form2-cta
	font-size 30px
.phone-numbers
	display flex
	flex-direction column

.phone-russia
	position relative
	margin-bottom 15px
	&:before
		content: url('../img/general/russia.svg')
		position absolute
		top -7px
		left -40px
.phone-belarus
	position relative
	&:before
		content: url('../img/general/belarus.svg')
		position absolute
		top -7px
		left -40px

.gdpr-caption
	max-width 444px
	font-size 12px
	opacity 0.2
	line-height 1.4

	
