.form2-wrap
	display flex
	flex-direction column
	justify-content center
	align-items center
	// padding-bottom 72px

.form2
	background-color: clr-bg--d
	padding 62px 56px 68px 62px
	border-radius 16px
	display flex
	justify-content space-between
	margin-bottom 86px
	.form-title
		max-width: 504px
		margin-bottom 0
	.g-input
		margin-right 26px
	form
		display flex
		flex-wrap wrap
		.btn
			margin-bottom 26px
.form2_btn
	font-size 14px

.form2-contacts
	max-width 50%
.form2-call
	display flex
	justify-content space-between
	align-items center
	margin-bottom 26px
.form2-cta
	font-size 30px
.phone-numbers
	display flex
	flex-direction column

.phone-russia
	position relative
	&:before
		content: url('../img/general/russia.svg')
		position absolute
		top -7px
		left -2.2em
.phone-belarus
	position relative
	&:before
		content: url('../img/general/belarus.svg')
		position absolute
		top -7px
		left -2.2em

.gdpr-caption
	max-width 444px
	font-size 12px
	opacity 0.2
	line-height 1.4

.form2-gradient
	width 100vw
	height 150px
	background linear-gradient(180deg, clr-bg--l, #000)


@media (max-width 1080px)
	.form2
		display flex
		flex-direction column
		padding 16px
		.form-title
			font-size 26px !important
			// text-align left
		form
			display flex
			flex-direction column
			justify-content center
			align-items center
			input
				margin-right 0 !important
	.form2-call
		display flex
		flex-direction column
	.form2-contacts
		max-width 100%

	.form-title
		margin-bottom 32px !important
	.form2-title
		text-align center
	.form2-cta
		font-size 20px
	.form2-numbers
		margin-right 5px
	.gdpr-caption
		text-align center
	.form2-wrap .container
		display flex
		flex-wrap wrap
	.form2-img
		order -1
		width 80%
	.form2-contacts form input
		width 100% !important
		max-width 100% !important
		

@media (max-width 1000px) and (min-width: 500px)
	.form2
		align-items center
	.form2 .form-title
		text-align center
	.form2-call
		justify-content center
		align-items center
		.phone-numbers
			margin-right 0
		