//
// @media(max-width 736px)

.services-modal_wrap
	display none
	align-items center
	justify-content center
	position fixed
	left 0
	top 0
	width 100vw
	height 100vh
	background-color rgba(#000,0.8)
	z-index 100000
.services-modal
	position relative
	max-width 600px
	display flex
	flex-direction column
	align-items center
	justify-content center
	padding 62px
	background-color clr-bg--l
	border-radius 16px

	&_title
		margin-bottom 32px

.services-title
	position relative
.services-guy
	position absolute
	top -10rem
	right 24vw
	transform scale(0.5)
.services
	&-wrap
		background-color clr-smm
		position relative
		padding-top s2x + s2
		&:before
			content ''
			background-image url('../img/content/3-results/divider.png')
			background-size cover
			transform: scale(-1, -1)
			display block
			// object-fit: cover;
			position absolute
			top 0px
			width 99vw
			height 100px
			z-index 10
	// margin-top s2
	&-container
		display flex
		padding s2x 0
		justify-content space-between

	&-item
		&-info
			max-width 500px
		&__subitile
			margin-bottom s2 - 20px
			line-height 1.5
		&__text
			margin-bottom s2 - 20px

		&-bullets
			display flex
			justify-content space-between
			flex-wrap wrap
			max-width 686px

		&__bullet
			position relative
			padding (s1 * 2) s1
			display flex
			flex-direction column
			align-items center
			justify-content center
			min-width 200px
			max-width 260px
			text-align center
			background-size cover
			background-position 50% 0
			z-index 3
			&-icon
				margin-bottom 13px
				z-index 1
			&-text
				z-index 1
				width 80%
			&-bg
				position absolute
				width 140%
				left -20%
				top 0
				bottom 0
				right
				z-index 0
	&--smm
		position relative
		background-color clr-smm
		service-blob(1, 150%, -25%, 5%)
		service-blob(2, 170%, -35%)
		service-blob(3, 190%, -40%)
		service-blob(4, 150%, -25%, 10%, '400px')
		service-blob(5, 150%, -25%, 10%)
		service-blob(6, 150%, -25%, 10%)
		service-blob(7, 150%, -25%, 5%)
		service-blob(8, 150%, -25%, 20%)
		&:before
			content ''
			background-image url('../img/content/4-services/divider04.png')
			background-size cover
			transform: scale(-1, 1)
			display block
			object-fit: cover;
			position absolute
			bottom -100px
			width 100%
			height 150px
			z-index 1
		.services-item__bullet:last-child
			min-width 300px

	&--web
		position relative
		.services-item-info
			order 2
			width 40%
		background-color clr-web
		service-blob(1, 170%, -35%, 10%)
		service-blob(2, 180%, -40%, 5%)
		service-blob(3, 180%, -40%, 5%)
		service-blob(4, 180%, -40%, 5%)
		service-blob(5, 180%, -35%, 10%)
		service-blob(6, 180%, -40%, 2%)
		&:before
			content ''
			background-image url('../img/content/4-services/divider03.png')
			background-size cover
			transform: scale(-1, 1)
			display block
			position absolute
			bottom -100px
			width 100%
			height 150px
			z-index 2

	&--design
		position relative
		background-color clr-design
		service-blob(1, 200%, -50%, 3%)
		service-blob(2, 200%, -50%, 0%)
		service-blob(3, 200%, -60%, -3%, 236px)
		service-blob(4, 180%, -38%, -5%, 300px)
		service-blob(5, 180%, -40%, -5%, 300px)
		&:before
			content ''
			background-image url('../img/content/4-services/divider02.png')
			background-size cover
			transform: scale(1, 1)
			display block
			position absolute
			bottom -100px
			width 100%
			height 150px
			z-index 2
		// .services-item__bullet:nth-child(3)
		//   width 236px


	&--seo
		position relative
		background-color clr-seo
		.services-item-bullets
			order -1
			width 48%
		service-blob(1, 180%, -40%, 15%, 173px)
		service-blob(2, 160%, -30%, 15%, 297px)
		service-blob(3, 140%, -20%, 17%, 380px)
		service-blob(4, 170%, -33%, 23%, 198px)
		&:before
			content ''
			background-image url('../img/content/4-services/divider05.png')
			background-size cover
			transform: scale(-1, 1)
			display block
			object-fit: cover;
			position absolute
			bottom -100px
			width 100%
			height 150px
			z-index 2



	&--support
		position relative
		background-color clr-support

		service-blob(1, 170%, -33%, 10%, 180px)
		service-blob(2, 80%, 10%, 15%, 180px)
		service-blob(3, 170%, -33%, 15%, 180px)

		service-blob(4, 90%, 5%, 10%, 180px)
		service-blob(5, 150%, -23%, 20%, 180px)
		service-blob(6, 90%, 6%, 15%, 180px)

		service-blob(7, 170%, -33%, 10%, 180px)
		service-blob(8, 170%, -33%, 10%, 180px)
		service-blob(9, 170%, -33%, 10%, 180px)
		&:before
			content ''
			background-image url('../img/content/4-services/divider01.png')
			background-size cover
			transform: scale(1, 1)
			display block
			object-fit: cover;
			position absolute
			bottom -100px
			width 100%
			height 150px
			z-index 2

	&--world
		.services-item-bullets
			order -1
			width 48%
		.services-item__bullet-icon
			size(48px)
		.services-item__bullet-text
			width 100%
			line-height 1.5
		background-color clr-world
		service-blob(1, 170%, -33%, 10%, 300px)
		service-blob(2, 170%, -33%, 10%, 244px)
		service-blob(3, 170%, -33%, 10%, 280px)

		service-blob(4, 170%, -33%, 10%, 270px)
		service-blob(5, 170%, -33%, 10%, 270px)
		service-blob(6, 170%, -33%, 10%, 260px)
		&:before
			content ''
			background-image url('../img/content/4-services/divider-b.png')
			background-size cover
			background-position 0 100%
			transform: scale(1, 1)
			display block
			position absolute
			bottom -140px
			width 100%
			height 150px
			z-index 2

.mobile-btn
	display none
@media (max-width 480px)
	.services-item__bullet
		padding-top 60px
	.services-wrap:before
		width 100vw
		top -1px
		height 22px
	.services-container
		flex-direction column
		justify-content center
		align-items center
		padding-top 124px
	.services--seo
	.services--web
		.services-container
			flex-direction column-reverse
		.mobile-btn
			order -1
	.services--seo
		.mobile-btn
			order -2
	.services--world
		.services-item-info
			order -1
	.services-item__btn
		margin-left auto
		margin-right auto
		margin-bottom 32px
		display none
	.services-item-info
		width 100% !important
	.services-item-bullets
		justify-content center
		margin-bottom 64px
	.mobile-btn
		display block
		position relative
		z-index 3
	.services-container
		padding-bottom 0
	.services-item__title
		font-size 48px !important
	.services-item-bullets
		width 100% !important

	.services-guy
			top -12rem
			right 15vw

	.services--smm:before
	.services--design:before
		height 50px
		bottom -48px
	.services--web:before
	.services--seo:before
	.services--support:before
		height 35px
		bottom -32px
	.services--smm .services-item__bullet:nth-child(3) .services-item__bullet-bg
		width: 190%;
		left: -46%;
		top: 14px;
