.founder
	padding-bottom 250px
	.section-title
		font-size 50px
		margin-bottom 92px
	&-stats
		display flex
	&-bullets
		display flex
		flex-direction column
		flex-wrap wrap
		max-width 650px
		margin-right 62px
	&__bullet
		max-width 351px
		line-height 2
		margin-bottom 40px
		position relative
		&:before
			content '+'
			color clr-prim
			font-weight 900
			font-size 25px
			position absolute
			top -10px
			left -26px

.founder-pic
	position absolute
	right -200px
	top -200px
	z-index -1

.founder-stats{
	padding-left: 50px;
}


/* Portrait tablets and small desktops */
@media (min-width: tabletPor) and (max-width: tabletLand)
	.founder-pic
		right -450px

@media (max-width 480px)
	.founder
		padding-bottom 68px
	.founder-stats
		display flex
		flex-direction column
		padding-left 30px
	.founder-pic
		right -580px
		transform rotate(-24deg)
		top -300px
	.founder .section-title
		font-size 40px
