section.principles-wrap
	.principles
		.container
			//- h2.section-title.sf1(data-shadow='7 принципов FADEEV-GROUP') 7 принципов FADEEV-GROUP
			//- h2.section-title.sf2(data-shadow='7 принципов FADEEV-GROUP') 7 принципов FADEEV-GROUP
			//- h2.section-title.sf2(data-shadow='7 принципов FADEEV-GROUP') 7 принципов FADEEV-GROUP
			.section-title-container
				.principles-guy(data-aos="fade-down" data-aos-duration="500" data-aos-offset="150")
					img(src="static/img/content/2-7-princip/title.png", alt="")
				h2.section-title.sf3(data-shadow='7 принципов FADEEV-GROUP') 7 принципов FADEEV-GROUP


		//- .ss
		//- 	h2.section-title.sf1(data-shadow='Кейсы') Кейсы
		//- 	h2.section-title.sf2(data-shadow='Кейсы') Кейсы
		//- 	h2.section-title.sf3(data-shadow='Кейсы') Кейсы


		ul.principles-list

			li.principles-item.principles-item--1
				.container.principles-container
					.principles-item-text(data-aos="fade-right" data-aos-duration="500")
						h3.principles-item__title 1. Цель клиента — наша цель
						p.principles-item__text Прежде чем взяться за работу мы тщательно изучим ваши задачи, пожелания, возможности, что даст полное <span>взаимопонимание</span> и <span>высокий результат</span>.
					img(data-aos="fade-up" data-aos-duration="500" src="static/img/content/2-7-princip/1.png", alt="Цель клиента - наша цель").principles-item__pic

			li.principles-item.principles-item--2
				.container.principles-container
					.principles-item-text(data-aos="fade-left" data-aos-duration="500")
						h3.principles-item__title 2. Команда — это единый механизм
						p.principles-item__text Благодаря четко поставленным задачам и системе мотивации, наша команда работает на одну цель — <span>довольный клиент</span>.
					img(src="static/img/content/2-7-princip/2.png", alt="Команда — это единый механизм").principles-item__pic

			li.principles-item.principles-item--3
				.container.principles-container
					.principles-item-text(data-aos="fade-right" data-aos-duration="500")
						h3.principles-item__title 3. Экономить впрок
						p.principles-item__text Ежедневно мы ведем тщательную аналитику для исключения бесполезных каналов трафика и <span>экономии ресурсов</span> клиента.
					img(data-aos="fade-up" data-aos-duration="500" src="static/img/content/2-7-princip/3.png", alt="").principles-item__pic

			li.principles-item.principles-item--4
				.container.principles-container
					.principles-item-text(data-aos="fade-left" data-aos-duration="500")
						h3.principles-item__title 4. Постоянно повышать компетенции
						p.principles-item__text Наши специалисты не стоят на месте, они ежемесячно обучаются и практикуются, что дает <span>уверенность в качественной работе</span>.
					img(data-aos="fade-up" data-aos-duration="500" src="static/img/content/2-7-princip/4.png", alt="Постоянно повышать компетенции").principles-item__pic

			li.principles-item.principles-item--5
				.container.principles-container
					.principles-item-text(data-aos="fade-right" data-aos-duration="500")
						h3.principles-item__title 5. Идти наравне с современным рынком
						p.principles-item__text Современный рынок постоянно меняется, а мы вместе с ним, что помогает использовать </span>эффективные методы<span> работы над проектами.
					img(data-aos="fade-up" data-aos-duration="500" src="static/img/content/2-7-princip/5.png", alt="Идти наравне с современным рынком").principles-item__pic

			li.principles-item.principles-item--6
				.container.principles-container
					.principles-item-text(data-aos="fade-left" data-aos-duration="500")
						h3.principles-item__title 6. Работать в три смены, но сделать в срок
						p.principles-item__text Время — невосполнимый ресурс, поэтому мы будем работать день и ночь, но <span>никогда&nbsp;не&nbsp;сорвем сроки</span>.
					img(data-aos="fade-up" data-aos-duration="500" src="static/img/content/2-7-princip/6.png", alt="").principles-item__pic

			li.principles-item.principles-item--7
				.container.principles-container
					.principles-item-text(data-aos="fade-right" data-aos-duration="500")
						h3.principles-item__title 7. Лучший показатель — цифры
						p.principles-item__text Дважды в месяц мы показываем полную отчетность о проделанной работе, ведь <span>заказчик должен знать за что платит</span>.
					img(data-aos="fade-up" data-aos-duration="500" src="static/img/content/2-7-princip/7.png", alt="Лучший показатель — цифры").principles-item__pic




		//- .menu
		//- 	ul
		//- 		li Услуги
		//- 		li.active(data-shadow="Заказать услуги") Заказать услуги
		//- 		li Кейсы
		//- 		li Как работаем
		//- 		li Отзывы

		//- .menu
		//- 	ul
		//- 		li Услуги
		//- 		li.active2(data-shadow="Заказать услуги") Заказать услуги
		//- 		li Кейсы
		//- 		li Как работаем
		//- 		li Отзывы