section.cases-wrap
	.container
		.cases
			h2.section-title(data-shadow='Кейсы') Кейсы
			.cases-wrap
				.cases-slider
					+caseItem(
						'1',
						'Брендинг логистической компании',
						'$100 000',
						'$500 000 чистыми',
						'2 недели',
						'Рассказываем о результате нашей работы, трудности, с которыми мы столкнулись и как их преодолели')
					+caseItem(
						'2',
						'Брендинг логистической компании',
						'$100 000',
						'$500 000 чистыми',
						'2 недели',
						'Рассказываем о результате нашей работы, трудности, с которыми мы столкнулись и как их преодолели')
					+caseItem(
						'3',
						'Брендинг логистической компании',
						'$100 000',
						'$500 000 чистыми',
						'2 недели',
						'Рассказываем о результате нашей работы, трудности, с которыми мы столкнулись и как их преодолели')
			+caseItemOpen(1)
