section.cases-wrap#cases
	.container
		.cases
			.section-title-container
				h2.section-title(data-shadow='Кейсы') Кейсы
				img.cases_guy(src="static/img/content/6-cases/caseman.png", alt="")
				img.cases_cases(src="static/img/content/6-cases/cases.png", alt="")
			.cases-wrap
				.cases-slider
					+caseItem(
						'1',
						'Аренда автомобилей в Краснодаре',
						'Сделали новый сайт',
						'Настроили эффективную контекстную и таргетированную рекламу',
						'+35% конверсии каждый месяц',
						'Разрабатываем мобильное приложение для большего удобства клиентов')
					+caseItem(
						'1',
						'Аренда автомобилей в Краснодаре',
						'Сделали новый сайт',
						'Настроили эффективную контекстную и таргетированную рекламу',
						'+35% конверсии каждый месяц',
						'Разрабатываем мобильное приложение для большего удобства клиентов')
					+caseItem(
						'1',
						'Аренда автомобилей в Краснодаре',
						'Сделали новый сайт',
						'Настроили эффективную контекстную и таргетированную рекламу',
						'+35% конверсии каждый месяц',
						'Разрабатываем мобильное приложение для большего удобства клиентов')
					+caseItem(
						'1',
						'Аренда автомобилей в Краснодаре',
						'Сделали новый сайт',
						'Настроили эффективную контекстную и таргетированную рекламу',
						'+35% конверсии каждый месяц',
						'Разрабатываем мобильное приложение для большего удобства клиентов')

			+caseItemOpen({
				number: 1,
				problemOne: {
					index: 1,
					title: 'Предыдущий сайт на конструкторе долго грузился и не давал реализовать функционал, нужный клиентам для комфортного заказа авто.',
					name: 'сайт',
					text: [
						'Поэтому мы сделали новый сайт.',
						'Собрали всю информацию про проекту и распределили ее на 5 основных страниц, каждая из которых представляла свое направление и состояла также из фильтров.',
						'Кроме визуальной составляющей и механики, мы провели SEO-оптимизацию, подобрали ключи и полностью переписали тексты.',
					]
				},
				problemTwo: {
					index: 2,
					title: 'Предыдущий подрядчик, с которым работал Легионкар показывал плохой результат работы. Клиенты из Яндекса и Гугла обходились дорого, в то время, как конкуренты получали их дешевле.',
					name: 'реклама',
					text: [
					'Мы проанализировали рекламу и внесли свои изменения. Были настроены поисковые кампании и баннерная реклама в сетях. Несколько раз менялись стратегии и вносились изменения как в бюджет, так и в ставки.',
					'Сейчас следим за статистикой и показателями, продолжаем чистку неэффективных запросов, анализируем поведение пользователей на сайте с помощью Вебвизора и тепловой карты. Своевременно вносим корректировки в стратегию.',
					'Сейчас разрабатываем мобильное приложение для Легионкар и скоро опубликуем его.',
					'Продолжаем работать с тарегтированной рекламой на постоянной основе т.к. она получается самая выгодная.',
					]
				},
			})
