section.factors-wrap
	.factors
		.container

			.section-title-container
				h2.section-title(data-shadow='Факторы успешного бренда') Факторы успешного бренда
				img.factors_guy(src="static/img/content/9-success/factors-guy.png", alt="")
				img.factors_cape(src="static/img/content/9-success/factors-cape.png", alt="")
		ul.factors-list

			li.factors-item.factors-item--1
				.container.principles-container
					.factors-item-text(data-aos="fade-left")
						h3.factors-item__title 1. Запоминающийся стиль
						p.factors-item__text Фирменный логотип, рекламный видеоролик, одна цветовая гамма для буклетов, помещений, сайта — всё это <span>транслирует потребителю ваш бренд</span> и оставляет определенное впечатление.
						p.factors-item__text И у вас всё получилось, если это впечатление будет положительным и <span>остается надолго в памяти клиента</span>.

					img(src="static/img/content/9-success/1.png", alt="" data-aos="fade-up")


			li.factors-item.factors-item--2
				.container.principles-container
					.factors-item-text(data-aos="fade-right")
						h3.factors-item__title 2. Клиентоориентированность
						p.factors-item__text Бренд должен <span>работать на свою целевую аудиторию</span> и не распыляться на всех, тогда каждый вложенный доллар, рубль, биткоин <span>будет приносить результат</span>.

					img(src="static/img/content/9-success/2.png", alt="" data-aos="fade-up")


			li.factors-item.factors-item--3
				.container.principles-container
					.factors-item-text(data-aos="fade-left")
						h3.factors-item__title 3. Позиционирование бренда
						p.factors-item__text Позиционирование — это то, что вы можете предложить своему потенциальному клиенту.
						p.factors-item__text Своеобразное обещание, которое <span>запомнит клиент</span> и <span>выберет среди других.</span> Поэтому без четкого и ясного позиционирования тяжело конкурировать на рынке.

					img(src="static/img/content/9-success/3.png", alt="" data-aos="fade-up")


			li.factors-item.factors-item--4
				.container.principles-container
					.factors-item-text(data-aos="fade-right")
						h3.factors-item__title 4. Узнаваемость
						p.factors-item__text Хорошо, когда у вас есть рекламный видеоролик, фирменный логотип, собственный сайт. Плохо, если об этом никто не знает.
						p.factors-item__text Поэтому <span>делайте качественную рекламу</span> на всех площадках, где есть ваша аудитория. И тогда  <span>получите ярых поклонников и высокие продажи.</span>

					img(src="static/img/content/9-success/4.png", alt="" data-aos="fade-up")


			li.factors-item.factors-item--5
				.container.principles-container
					.factors-item-text(data-aos="fade-left")
						h3.factors-item__title 5. Выполнение обещаний
						p.factors-item__text Если ваш бренд обещает хорошую атмосферу в заведение или бесплатную доставку продукта, то вам <span>придется всегда сдерживать эти обещания</span>, иначе можно легко потерять доверие клиентов

					img(src="static/img/content/9-success/5.png", alt="" data-aos="fade-up")