footer
	a.footer-link.footer-link--left(href="")
	.footer-info
		img.footer-logo(src="", alt="")
		p.footer-logo-descr
		a.footer-mail(href="")
		a.footer-phone(href="")
		a.footer-unp(href="")
		a.footer-policy(href="")
		a.footer-reject(href="")
		+socials()
	a.footer-link.footer-link--right(href="")