section.form2-wrap
	.container
		.form2(data-aos="fade-up")
			h2.form-title Чем дольше вы думаете, тем больше денег зарабатывают ваши конкуренты
			.form2-contacts
				.form2-call
					p.form2-cta Позвоните нам
					.phone-numbers
						a.phone-russia(href="") +7 123 456 27 23
						a.phone-belarus(href="") +375 123 456 27 23
				form(action="")
					input.g-input(
						type="tel"
						placeholder="Оставьте номер телефона"
						required)
					input.btn(
						type="submit"
						value="Отправить").btn
					p.gdpr-caption Нажимая кнопку «Отправить», я даю согласие на передачу персональных данных согласно политике конфиденциальности

	img(src="static/img/content/11-form-2/time.png", alt="")