section.founder-wrap
	.container
		.founder
			h2.section-title(data-shadow='Основатель — Владислав Фадеев') Основатель — Владислав Фадеев
			.founder-stats
				ul.founder-bullets
					li.founder__bullet Более 7 лет в Digital-маркетинге
					li.founder__bullet Собрал 200 000+ подписчиков в своем инстаграм-блоге и в других личных страницах
					li.founder__bullet Собрал постоянную аудиторию 3&nbsp;000&nbsp;000+ человек в интернет-сообществах, включая проект «<a href="#">Ох уж эта Беларусь</a>»
					li.founder__bullet Последние 2 года руковожу командой профессионалов в сфере Digital
				ul.founder-bulltes
					li.founder__bullet
						a(href="#") Продвигаю товары/услуги на мировом рынке
					li.founder__bullet Реализовал с командой 300+ рекламных проектов
					li.founder__bullet Основал брендинг агентство Fadeev-Group
					li.founder__bullet Основатель проекта <a href="">VShow</a>
			.founder-pic
				img.founder_pic(src="static/img/content/10-vlad/founder.png", alt="")