section.founder-wrap
	.container
		.founder
			h2.section-title(data-shadow='Основатель — Владислав Фадеев') Основатель — Владислав Фадеев
			.founder-stats
				ul.founder-bullets
					li.founder__bullet(data-aos="fade-up") Более 7 лет в Digital-маркетинге.
					li.founder__bullet(data-aos="fade-up") Собрал 200 000+ подписчиков в своем инстаграм-блоге и в других личных страницах.
					li.founder__bullet(data-aos="fade-up")
						a.ext-link(href="#{fvgWorld}") Продвигаю товары/услуги на мировом рынке
						span .
					li.founder__bullet(data-aos="fade-up") Последние 2 года руковожу командой профессионалов в сфере Digital.
				ul.founder-bulltes
					li.founder__bullet(data-aos="fade-up") Собрал постоянную аудиторию 3&nbsp;000&nbsp;000+ человек в интернет-сообществах, включая проект «<a class="ext-link" href="#{fvgSocials}">Ох&nbsp;уж&nbsp;эта&nbsp;Беларусь</a>».
					li.founder__bullet(data-aos="fade-up") Реализовал с командой 300+ рекламных проектов.
					li.founder__bullet(data-aos="fade-up") Основал брендинг агентство Fadeev-Group.
					li.founder__bullet(data-aos="fade-up") Основатель проекта <a class="ext-link" href="#{vshow}">VShow</a>.
			.founder-pic
				img.founder_pic(src="static/img/content/10-vlad/founder.png", alt="" data-aos="fade-left")
