section.hero
	.container
		.hero-content
			header.header
				.phone-numbers
					a.phone-russia(href="") +7 123 456 27 23
					a.phone-belarus(href="") +375 123 456 27 23
				button.btn-secondary.hero_callback Заказать звонок
				button.burger
					span 
					span 
					span 
			.offer
				h1.headliner Брендинг агентство
					span Fadeev-group
				img(src="static/img/general/fvg-big-logo.svg" alt="fvg").hero-logo
				p.descriptor Ваша узнаваемость и количество клиентов на нашей совести
				a.btn.hero-btn Получить клиентов

				.hero-socials
					a(href=" ")
						img(src="static/img/general/ig.svg", alt="").hero-socials_icon
					a(href="")
						img(src="static/img/general/vk.svg", alt="").hero-socials_icon
					a(href="")
						img(src="static/img/general/fb.svg", alt="").hero-socials_icon
					a(href="")
						img(src="static/img/general/tg.svg", alt="").hero-socials_icon
					a(href="")
						img(src="static/img/general/wa.svg", alt="").hero-socials_icon


.hero-modal_wrap
	form.hero-modal(action="")
		button(type="button").modal_close-btn ×
		h3 Оставьте номер телефона<br>и мы вам перезвоним
		input(
			placeholder="Телефон"
			required).g-input
		button.btn Заказать

//- .hero-menu
//- 	.hero-menu_top
//- 		picture.hero-menu-logo
//- 			source(
//- 				srcset='static/img/general/fvg-small-logo.svg'
//- 				media='(max-width: 200px)')
//- 			source(
//- 				srcset='static/img/general/fvg-small-logo.svg'
//- 				media='(max-width: 500px)')
//- 			source(
//- 				srcset='static/img/general/fvg-small-logo.svg'
//- 				media='(max-width: 800px)')
//- 			img.hero-menu-logo--inside(
//- 				src='static/img/general/fvg-big-logo.svg',
//- 				alt='')
		