section.results-wrap
	.container
		.results
			h2.section-title(data-shadow='Итоги последнего года') Итоги последнего года
			ul.results-list
				li.results-item.results-item--cl(data-aos="fade-up" data-aos-duration="500")
					.results-item__icon
					h3.results-item__number.price  50
					p.results-item__text довольных клиентов

				li.results-item.results-item--vk(data-aos="fade-up" data-aos-duration="700")
					.results-item__icon
					h3.results-item__number 1.5M+
					p.results-item__text привлеченной аудитории в ВК

				li.results-item.results-item--ig(data-aos="fade-up" data-aos-duration="800")
					.results-item__icon
					h3.results-item__number 1M+
					p.results-item__text привлеченной аудитории в Instagram

				li.results-item.results-item--tg(data-aos="fade-up" data-aos-duration="900")
					.results-item__icon
					h3.results-item__number 300k+
					p.results-item__text привлеченной аудитории в Telegram

				li.results-item.results-item--mn(data-aos="fade-up" data-aos-duration="1000")
					.results-item__icon
					h3.results-item__number $500k+
					p.results-item__text чистой прибыли наших клиентов