section.reviews-wrap
	.container
		.reviews
			h2.section-title(data-shadow="Отзывы") Отзывы
			.reviews-slider-wrap
				.reviews-slider
					+review(
						'Константин Константинопльский',
						'Тестировщик интерфейсов',
						'Duis mi fermentum turpis. At quis sagittis viverra quisque aliquet libero arcu. At eleifend dolor enim at integer ut enim, consectetur. Id odio adipiscing tempus at pretium nam iaculis quam. Sodales in orci a integer vel fermentum commodo.  pellentesque. Amet aliquam at facilisi eget facilisis eget. ')
					+review(
						'Константин Константинопльский',
						'Тестировщик интерфейсов',
						'Duis mi fermentum turpis. At quis sagittis viverra quisque aliquet libero arcu. At eleifend dolor enim at integer ut enim, consectetur. Id odio adipiscing tempus at pretium nam iaculis quam. Sodales in orci a integer vel fermentum commodo.  pellentesque. Amet aliquam at facilisi eget facilisis eget. ')
					+review(
						'Константин Константинопльский',
						'Тестировщик интерфейсов',
						'Duis mi fermentum turpis. At quis sagittis viverra quisque aliquet libero arcu. At eleifend dolor enim at integer ut enim, consectetur. Id odio adipiscing tempus at pretium nam iaculis quam. Sodales in orci a integer vel fermentum commodo.  pellentesque. Amet aliquam at facilisi eget facilisis eget. ')
					+review(
						'Константин Константинопльский',
						'Тестировщик интерфейсов',
						'Duis mi fermentum turpis. At quis sagittis viverra quisque aliquet libero arcu. At eleifend dolor enim at integer ut enim, consectetur. Id odio adipiscing tempus at pretium nam iaculis quam. Sodales in orci a integer vel fermentum commodo.  pellentesque. Amet aliquam at facilisi eget facilisis eget. ')