.hero
	height 100vh
	background-image url('../img/content/1-hero/hero-bg.png')
	background-size cover
	background-repeat no-repeat

.hero-modal_wrap
	display none
	align-items center
	justify-content center
	position fixed
	left 0
	top 0
	width 100vw
	height 100vh
	background-color rgba(#000,0.8)
	z-index 100000
.hero-modal
	position relative
	max-width 600px
	display flex
	flex-direction column
	align-items center
	justify-content center
	padding 62px
	background-color clr-bg--l
	border-radius 16px
	h3
		text-align center
		margin-bottom 26px
		

.hero-content
	width 526px
	margin-left auto


.header
	display flex
	justify-content space-between
	align-items center
	width 100%
	padding-top 30px
	margin-bottom 183px
.burger
	border none
	background-color transparent
	size(30px)
	display flex
	flex-direction column
	justify-content space-around
	span
		display block
		background-color #fff
		size(30px, 5px)
.phone-numbers
	a
		color clr-f
		transiton all 0.3s transparent
		&:hover
			color clr-second
			transiton all 0.3s transparent

.offer
	display flex
	flex-direction column
	justify-content center
	align-items center
.headliner
	font-size 36px
	font-weight 900
	line-height 1.2
	text-align center
	span
		display none
.descriptor
	font-size 26px
	font-weight 600
	line-height 1.7
	text-align center
	margin-bottom 26px
.hero-btn
	margin-bottom 68px

.hero-socials
	display flex
	justify-content space-between
	align-items center
	width 347px
.hero-socials_icon
	max-height 48px
	


// .hero-menu
// 	position fixed
// 	top 0
// 	left 0
// 	z-index 10000