
@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.preloader
	width 100vw
	height 100vh
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	background-color clr-bg--l
	z-index 100000
.preloader_logo
.preloader_loader
	position absolute
	top 0
	right 0
	left 0
	bottom 0
	margin auto
.preloader_loader
	animation: loader-rotate 2s infinite ease-in-out;


	







// .pop


.g-form-name
	display none

.hero
	height 120vh
	background-image url('../img/content/1-hero/hero-bg.png')
	// background-color clr-bg--d
	background-size cover
	background-repeat no-repeat
	background-position 90%
	// background-position 40%

// @media (max-width 1366px)
// 	.hero
// 		background-position: -250px 0

.modal-contacts_wrap
.hero-cta-modal_wrap
.pop-success_wrap
.hero-modal_wrap
	display none
	align-items center
	justify-content center
	position fixed
	left 0
	top 0
	width 100vw
	height 100vh
	background-color rgba(#000,0.8)
	z-index 100000
.modal-inner
	display flex
	align-items center
	justify-content center
	width 100%
	height 100%
.pop-btn
	max-width 280px
	margin 0 auto
	max-width 100% !important


.hero-callback.hero-modal
	max-width 438px

.hero-cta-modal_wrap
	.hero-socials_icon
		height 30px
.hero-modal
	position relative
	max-width 600px
	display flex
	flex-direction column
	align-items center
	justify-content center
	padding 62px
	background-color clr-bg--l
	border-radius 16px
	h3
		text-align center
		margin-bottom 13px
		line-height 1.4
		font-size 23px
		font-weight 900
	input
		margin-bottom 36px
		padding: 10px 24px;
.hero-modal_inner
	width 100%
	height 100%
	display flex
	flex-direction column
	align-items center
	justify-content center


.modal-text
	width: 250px;
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 20px;
	
.pop-btn
	margin-bottom 20px
	width 280px
	padding-right 0 !important
	padding-left 0 !important

.modal_phone
	font-size 26px
	font-weight 900
	margin-bottom 13px
	color clr-second

.pop-socials
	width 15%
	display flex
	justify-content center
	margin-bottom 13px
.hero-socials--pop
	max-width 85%
	// flex-wrap wrap
	justify-content center
	







.hero-content
	width 626px
	margin-left auto


.header
	display flex
	justify-content space-between
	align-items center
	padding-top 20px
	position absolute
	top 15px
	right 35%
	z-index 3
	padding-right 20px
	// margin-bottom 65px
.burger
	position fixed
	top 38px
	right 38px
	// right 14vw
	z-index 90
	transition all 0.3s linear

.burger
.menu-burger_close
	border none
	background-color transparent
	height 30px
	display flex
	flex-direction column
	justify-content space-around
	span
		display block
		background-color #fff
		size(30px, 5px)
.phone-numbers
	a
		color clr-f
		transiton all 0.3s transparent
		&:hover
			color clr-second
			transiton all 0.3s transparent


.hero-modal_inner .g-input
	width 280px
.phone-belarus
	margin-bottom 15px
	
.offer_wrap
	display flex
	flex-direction column
	justify-content space-between
	padding-top 40px
	padding-bottom 40px
	// justify-content space-around
	align-items center
	height 100vh
	position relative
	z-index 2

.offer
	display flex
	flex-direction column
	justify-content space-evenly
	align-items center
.headliner
	font-size 36px
	font-weight 900
	line-height 1.2
	text-align center
	margin-bottom 23px
	span
		display none
		
.hero-logo
	margin-bottom 12px
	height 100%
.descriptor
	font-size 27px
	font-weight 600
	line-height 1.7
	text-align center
	margin-bottom 40px
	position relative
	// margin-bottom 26px
.descriptor:before
	content '\201c'
	font-size 4em
	color clr-prim
	position absolute
	top -0.5em
	left -0.5em
	

.hero-socials
	display flex
	justify-content space-between
	align-items center
	width 347px
.hero-socials_icon
	max-height 48px
.hero-socials_icon--fb
	margin 0 5px
.hero-socials_icon:hover path
	fill clr-second

.menu_wrap
	display none
	position fixed
	top 0
	left 0
	z-index 10000
	width 100vw
	height 100vh

	background-color clr-bg--d
	background-image url('../img/content/0-burger/burger-bg.png')
	background-size cover
	&:before
		content url('../img/content/0-burger/burger-guy.png')
		position absolute
		z-index 1
		top -220px
		transform: scale(0.8);
		left: -10vw;

.hero-menu-logo--inside
	margin-bottom 10px
.menu_top
.menu_bottom
	display flex
	justify-content space-between
	align-items center

.menu_top
	padding-top 50px
.menu-burger_close
	position fixed
	right 38px
	top 38px
	align-self flex-start
.burger-close_left
		position absolute
		transform rotate(45deg)
		top 12px
.burger-close_right
		transform rotate(-45deg)
.menu_bottom
	height 90vh

.menu_contacts
	display flex
	flex-direction column
	align-items flex-start
	justify-content center
	position relative
	z-index 2
	align-self flex-start
	margin-left 37px
	height 74%
	// padding-top 100px
	.hero-socials
		margin-bottom auto
	.phone-belarus
		margin-bottom 15px
		font-size 20px
	.hero-menu_email
		margin-bottom 26px
		font-size 20px
		padding-left 54px
	.hero-menu_email:before
		content: url(../img/general/email.svg)
		display block
		height 24px
		width 24px
		position absolute
		margin-right 30px
		display inline-block
		top -5px
	.phone-russia
		margin-bottom 42px
		font-size 20px
	.btn-secondary
		align-self: flex-start;
.menu_nav-item
	font-family 'Montserrat'
	transition all 0.3s 
.menu_item
	padding-left 50px
	font-size 26px
	color clr-f
	font-weight 400
	&:hover
		color clr-second
	&:before
		top 0
		left 0 !important
		// top -0.1em
		// left -0.2em !important
.menu_nav
	font-family 'Montserrat'
	display flex
	flex-direction column
	align-items flex-end
	margin-top 50px
	&-item
		font-size 60px
		font-weight 900
		color clr-f
		line-height 1.5
		border none
		background-color transparent
		// &:hover
		// 	color clr-prim
.menu_nav-item:hover{
	color clr-second
	text-shadow: 3px 3px 0 #000f40;
	letter-spacing 6px
	position relative
	transiton all 0.3s 
	z-index 2
	// transition all 0.3s
}
.menu_nav-item:hover:after{
	// transition opacity 0.6s
	
	content: attr(data-shadow);
	position: absolute;
	top: 6px;
	left: 6px;
	width 120%
	right 0;
	z-index: -1;
	text-shadow: none;
	letter-spacing 6px
	background-image:
		linear-gradient(
			45deg,
			transparent 45%,
			hsla(48,20%,90%,1) 45%,
			hsla(48,20%,90%,1) 55%,
			transparent 0
			);
	background-size: 6px 6px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: shad-anim 80s linear infinite;
}
button.menu_nav-item:hover:after{
	left -50px
}




.js-menu_nav-item--opened{
	color clr-second
	text-shadow: 3px 3px 0 #000f40;
	letter-spacing 6px
	position relative
	transiton all 0.3s 
	z-index 2
	// transition all 0.3s
}
.js-menu_nav-item--opened:after{
	// transition opacity 0.6s
	
	content: attr(data-shadow);
	position: absolute;
	top: 6px;
	left: 6px;
	width 120%
	right 0;
	z-index: -1;
	text-shadow: none;
	letter-spacing 6px
	background-image:
		linear-gradient(
			45deg,
			transparent 45%,
			hsla(48,20%,90%,1) 45%,
			hsla(48,20%,90%,1) 55%,
			transparent 0
			);
	background-size: 6px 6px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: shad-anim 80s linear infinite;
}



















.hero-cta-modal_wrap input
	margin-bottom: 24px;
.cta-modal-socials
	display flex
	justify-content center
	flex-wrap wrap
	background-color clr-bg--d
	padding 20px 20px 10px
	max-width 300px
	border-radius 12px
	


.burger--scrolled
	// right 38px
	transition all 0.3s linear
	opacity 0.6
	position fixed

.burger.burger--scrolled
	transform scale(0.8)



@media (max-width 1200px)
	.header
		right: 0;
		left: 40px;
@media (max-width 1024px)
	.hero
		height 100vh
		background-size 180%	
		background-position: 0
		background-image linear-gradient(45deg, rgba(clr-bg--d, 0.7), rgba(clr-bg--l, 0.7)), url('../img/content/1-hero/hero-bg.png')
		// background-blend-mode overlay, normal
	.hero-content
		width 100%
	// .header
	// 	width 93%
	.menu_nav-item
		font-size 40px
		padding-right 15px
	.menu_wrap:before
		transform: scale(0.5);
		left: -20vw;
		top: -310px;
		
	
		
@media (max-width 480px)
	.menu_wrap:before
		position absolute
		left: -11rem;
		top: -25rem;
		z-index -1


	.menu_nav
		position relative
		margin-bottom 0
		align-self flex-end
	.menu-burger_close
		right: 20px;
		top: 24px;
	.hero
		// background-image linear-gradient(45%, clr-bg--l, clr-bg--d), url('../img/content/1-hero/hero-bg.png')
		background-image linear-gradient(45deg, rgba(clr-bg--d, 0.7), rgba(clr-bg--l, 0.7)), url('../img/content/1-hero/hero-bg.png')
		background-position: -20vw 0
		background-size 380%
		height 100vh
	.header
		padding 15px 30px 0 30px
		padding-top 15px !important
		// width 80%
		left 20px
		right 0

	.menu_top
		padding-left 20px
		padding-right 20px
		padding-top 10px
		right 0
		left 0
	.menu-logo
		img
			height 70px
	.js-menu_nav-item--opened
	.menu_nav-item:hover
		font-size 24px !important

	.offer
		max-width 100%
		// height 75vh
	.offer_wrap
		padding-top 140px
		padding-bottom 80px
		
	.hero-content
		width 100%
	.hero-logo
		height 79px
	.descriptor
		line-height 1.4
		font-size 20px
		width 80%
	.descriptor:before
		top -0.4em
	.hero-callback--main
		display none


	.menu_bottom
		display flex
		flex-direction column
		height auto
	.menu_nav
		order -1
		margin-bottom 38px
	.menu_nav-item
		font-size 34px
	.hero-modal h3
		font-size 24px
	.hero-callback.hero-modal
		max-width 340px
	.menu_contacts
		align-items center
		padding-top 0
		margin-left 0
		.hero-socials
		.phone-russia
			margin-bottom 23px
		.btn-secondary
			margin 0 auto
	.hero-callback.hero-modal
		padding 42px 29px 29px
		
	.menu_item.btn-secondary
		margin-top 20px
	.burger
		top 25px
		right 20px
	.burger--scrolled
		top 20px
		right 20px
		

@media (min-width: 1400px)
	.header
		// margin-bottom 140px
		padding-left 40px
		justify-content flex-start
	.phone-numbers
		margin-right 68px
	.hero
		background-position 38%
		// background-position 300%
		transition all 2s ease
		.container
			width 1440px
			margin-left auto
			margin-right 40px
	.offer
		width 506px
		margin: 0 auto 0 60px;
	// .burger
	// 	right 20vw
@media (min-width: 1400px) and (max-width: 1600px)
	.header
		right 30%
	.hero
		background-image url(../img/content/1-hero/hero-bg-mac.png)
	.menu_wrap
		background-position-x: 35%;
	.header
		padding-top 25px


@media (max-width 1400px)
	.header
		// margin-bottom 30px
		padding-top 25px
		.btn-secondary
			margin-right 60px
	.offer
		max-width 530px
		// height 500px
		

@media (min-width: 1600px)
	.hero .container
		margin-right 256px
		

h3#hero-callback_title
	font-size 19px !important
	margin-bottom 25px !important
	
