button
	font-family "Montserrat", sans-serif

.btn
	display block
	padding 12px 68px
	border-radius 50px
	border none
	line-height 2

	background-color clr-prim
	color clr-f
	transition all 0.3s
	cursor pointer

	font-weight 600
	font-size f-regular
	font-family mainFont

	btn-red-shade()

	&:hover
		box-shadow: 0px -0.193708px 2.59743px rgba(211, 49, 49, 0.28), 0px -0.465507px 5.64513px rgba(211, 49, 49, 0.32), 0px -0.876509px 10.278px rgba(211, 49, 49, 0.25), 0px -1.56354px 19.0372px rgba(211, 49, 49, 0.22), 0px -2.92443px 34.3109px rgba(211, 49, 49, 0.41), 0px -7px 70px rgba(211, 49, 49, 0.5);
		transition all 0.3s
.hero-cta
	padding-left 88px
	padding-right 88px
	margin-bottom 50px
.btn-secondary
	padding 12px 26px
	font-size 16px
	font-weight 600
	border 3px solid clr-prim
	border-radius 50px
	background-color transparent
	color clr-f
	transition all 0.3s ease
	&:hover
		background-color clr-prim
		transition all 0.3s ease

.services-item__btn
	background-color: clr-service-btn

	&:hover
		background-color clr-f
		color clr-f--d

.services--smm
	.services-item__btn
		smm-shade()

.services--web
	.services-item__btn
		web-shade()

.services--design
	.services-item__btn
		design-shade()

.services--seo
	.services-item__btn
		seo-shade()

.services--support
	.services-item__btn
		support-shade()

.services--world
	.services-item__btn
		world-shade()

.ext-link:after
	content url(../img/general/link.svg)
	position relative
	top 3px
	left 3px
	right 3px
.ext-link:hover
	// text-shadow: 0px -8.60183px 159.748px #F8D646, 0px -3.59364px 66.739px #F8D646, 0px -1.92133px 35.6819px rgba(248, 214, 70, 0.61), 0px -1.07708px 20.003px rgba(248, 214, 70, 0.15), 0px -0.572031px 10.6234px rgba(248, 214, 70, 0.57), 0px -0.238035px 4.42064px rgba(248, 214, 70, 0.0843437);
	filter: drop-shadow(1px 0px 6px #ffce00) drop-shadow(1px 0px 2px #ffce00)
	

.cases-item__btn
	border 3px clr-prim solid
	box-sizing border-box

	background-color transparent
	color #fff
	box-shadow none

	&:hover
		background-color clr-prim
		color clr-f
		transition all 0.3s
		box-shadow: none !important

.slick-dots
	bottom -50px !important
	li
		background-color clr-prim
		width 50px !important
		height 10px !important
		border-radius 16px
		margin-right 20px !important
		margin-left 0 !important
		opacity 0.5
	*
		color clr-prim
		button
			&:before
				color clr-prim
				display none !important

.services-modal_submit
	padding-left 0
	padding-right 0
	width 100%
@media (max-width 480px)
	.slick-dots
		li
			width 30px !important

.slick-active
	opacity 1 !important


.g-input
	font-size: 16px;
	font-weight: 600;
	// color: #c8c8c8;
	line-height: 2;
	padding: 12px 32px;
	margin-bottom: 26px;
	border: none;
	border-radius: 12px;


.modal_close-btn
	border-radius 50%
	// background-color #232323
	background-color transparent
	color #fff
	border none
	position absolute
	right 20px
	top 20px
	font-weight 900
	font-size 28px
	padding 5px 8px
	

@media (max-width 480px)
	.modal_close-btn
		right: 5px;
		top: 5px;




.slick-dots
	bottom 0
.slick-dots li button:before
	content '' !important

.slick-next
	z-index 10
	left 90% !important
	margin-left 50px
.slick-prev
	z-index 10
	left 6% !important
	margin-right 50px
