// ЦВЕТА

clr-prim = #F41814
clr-prim--d = #BA1F1F
clr-second = #FFB800


clr-bg--l = #000F40
clr-bg--d = #000C33


clr-f = #FFFFFF
clr-f--l = #BEBEBE
clr-f--d = #232323


clr-service-btn = #0D0B0B

clr-smm = #E53747
clr-smm--d = #CC2938

clr-web = #309CD9
clr-web--d = #008AD9

clr-design = #A72CC7
clr-design--d = #8B24A6

clr-seo = #FF7A00
clr-seo--d = #CC6200

clr-support = #36B26A
clr-support--d = #00CC56

clr-world = #ED2828
clr-world-d = #CC1818

clr-cl = #F2B20C
clr-vk = #4986CC
clr-ig = #E1306C
clr-tg = #0088CC
clr-mn = #007C41

// РАЗМЕРЫ

s1 = 26px
s2 = 62px
s22 = 68px
s2x = 124px


f-regular = 16px
f-microtitle = 26px
f-minititle = 40px
f-title = 60px

f-services-title = 80px

f-reviews-name = 20px



desktop = 1260px
laptopDesktop = 1025px
tabletPor = 768px
tabletLand = 1024px
lowTabletLand = 481px
phonePor = 340px
phoneLand = 480px


// ШРИФТЫ

mainFont = Montserrat
