//
// @media(max-width 736px)

.form1
	padding 200px 0 s2x 0
	display flex
	justify-content space-around

	&-wrap
		background-color #000

.form-1-fields
	form
		display flex
		flex-direction column
		max-width 320px
		align-items felx-start
	input
		font-size f-regular
		font-weight 600
		color #232323
		line-height 2

		padding 12px 32px
		margin-bottom s1
		border none
		border-radius 12px


.form-title
	font-size 40px
	font-weight 900

	max-width 582px
	margin-bottom s1
	span
		color clr-second
		
@media (max-width 480px)
	.form1
		padding-bottom 68px
	.form-title
		text-align center
		font-size 32px
	.form1-img
		display none
	.form-1-fields
		display flex
		flex-direction column
		justify-content center
		align-items center
		padding-top 68px

