.principles
	padding-top 200px
	.section-title
		font-size 37px
	&-item
		&-text
			font-size 20px
			max-width 494px
			span
				font-weight 600
				color clr-second
		&__pic
			max-width 60%
			height auto

		&--1
			padding s2 0
		&--2
			background-color clr-bg--d
			position relative
			&:before
				content ''
				background-image url('../img/content/2-7-princip/2t.png')
				background-size cover
				display block
				position absolute
				top -140px
				width 100%
				height 150px
			&:after
				content ''
				background-image url('../img/content/2-7-princip/2b.png')
				background-size cover
				display block
				position absolute
				bottom -140px
				width 100%
				height 150px
			.principles-item-text
				order 3
		&--3
			padding 200px 0
		&--4
			background-color clr-bg--d
			position relative
			&:before
				content ''
				background-image url('../img/content/2-7-princip/2t.png')
				background-size cover
				transform: scale(-1, 1)
				display block
				object-fit: cover;
				position absolute
				top -100px
				width 100%
				height 100px
			&:after
				content ''
				background-image url('../img/content/2-7-princip/4b.png')
				background-size cover
				display block
				position absolute
				bottom -140px
				width 100%
				height 150px
			.principles-item-text
				order 3
		&--6
			padding-bottom s2
			background-color clr-bg--d
			position relative
			&:before
				content ''
				background-image url('../img/content/2-7-princip/2t.png')
				background-size cover
				display block
				position absolute
				top -150px
				width 100%
				height 150px
			&:after
				content ''
				background-image url('../img/content/2-7-princip/2b.png')
				background-size cover
				display block
				position absolute
				bottom -140px
				width 100%
				height 150px
				transform: scale(-1, 1)
			.principles-item-text
				order 3
			.principles-item__pic
				width 40%

		&--7
			padding s2x 0


	&-container
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		justify-content space-around
.principles-guy
	position absolute
	top -21rem
	left 10rem
	z-index -1

@media (max-width 480px)
	.principles-container
		flex-wrap wrap
	.principles-item--1
	.principles-item--3
	.principles-item--5
	.principles-item--7
		.principles-container
			flex-direction column-reverse
	.principles-item__pic
		width 80% !important
		max-width 80% !important
		margin-bottom 32px
	.principles-item--1
		padding-top 0
		padding-bottom 162px
	.principles-item--3
		padding-top 124px
		padding-bottom 100px
	.principles-item--4
		padding-bottom 26px
	.principles-item--5
		padding-top 124px
		padding-bottom 124px
		.principles-item__pic
			transform scale(1.5)
	.principles-item-text
		padding-left 12px
		padding-right 12px
	.principles-guy
		left 0
		top -16rem
		right 10rem

	.principles-item--2:before
	.principles-item--4:before
	.principles-item--6:before
		height 50px
		top -50px
	.principles-item--2:after
	.principles-item--4:after
	.principles-item--6:after
		height 50px
		bottom -50px
