//
	// @media(max-width 736px)

.reviews
	padding s2x 0
	&-slider-item
		max-width 553px
	&-top
		display flex
		position relative
		align-items center
	&-who
		position absolute
		right 0
		text-align right

.review
	color clr-f--d
	padding 54px 68px
	background-color clr-f
	border-radius 0 0 16px 16px

