.section-title-container
	position relative
.section-title
	font-size f-title
	font-weight 900
	text-align center

@media (max-width 480px)
	.section-title
		font-size 43px
		letter-spacing 0 !important
		margin-bottom 0

.results-tiem__number
	font-size f-minititle
	font-weight 900
	text-align center

.principles-item__title
	font-size 20px
	font-weight 900
	color clr-second
	margin-bottom s1

.services--smm
	.services-item__title
		font-size 60px
.services-item__title
	font-size 80px
	font-weight 900
	line-height 1.2
	max-width 550px
	margin-bottom 39px

// .section-title
// 	text-shadow 3px 4px 0 clr-bg--l
// 	letter-spacing 10px
// 	position relative
// 	margin-bottom 100px

// 	&:after
// 		// width 100%
// 		content attr(data-shadow)
// 		position absolute
// 		left 7px
// 		top 7px
// 		z-index -1
// 		text-shadow none
// 		-webkit-background-clip text
// 		-webkit-text-fill-color transparent
// 		background linear-gradient(
//         45deg,
//         transparent 45%,
//         hsla(48,20%,90%,1) 45%,
//         hsla(48,20%,90%,1) 55%,
//         transparent 0
//         )
// 		background-size 6px 6 px
// 		animation shad-anim 80s linear infinite

// @keyframes shad-anim {
//   0% {background-position: 0 0}
//   0% {background-position: 100% -100%}
//   }

// h2 {
//   display: inline-block;
//   color: #fff;
//   font-size: 12em;
//   text-shadow: 5px 6px 0 #000f40;
//   letter-spacing: 10px;
//   position: relative;
//   margin-bottom: 100px;
// }
// h2:after {
//   width: 100%;
//   content: attr(data-shadow);
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   z-index: -1;
//   text-shadow: none;
//   background-image: -o-linear-gradient(45deg, transparent 45%, #ebe9e0 45%, #ebe9e0 55%, transparent 0);
//   background-image: linear-gradient(45deg, transparent 45%, #ebe9e0 45%, #ebe9e0 55%, transparent 0);
//   background-size: 6px 6px;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   -webkit-animation: shad-anim 70s linear infinite;
// 	animation: shad-anim 70s linear infinite;
// }
// .section-title {
//   text-shadow: 3px 4px 0 #000f40;
// }
// .section-title:after {
//   left: 7px;
//   top: 7px;
//   background-size: 6px 6px;
//   -webkit-animation: shad-anim 80s linear infinite;
// 	animation: shad-anim 80s linear infinite;


.section-title
	margin-bottom s2
	text-align center
	// display: inline-block;
	// color: white;
	// font-size: 7rem;
	text-shadow: 4px 5px 0 clr-bg--l;
	letter-spacing 10px
	position relative
	&:after
		content: attr(data-shadow);
		position: absolute;
		top: 2px;
		left: 14px;
		right 0;
		z-index: 0;
		text-shadow: none;
		background-image:
			linear-gradient(
				45deg,
				transparent 45%,
				hsla(48,20%,90%,1) 45%,
				hsla(48,20%,90%,1) 55%,
				transparent 0
				);
		background-size: 6px 6px;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		animation: shad-anim 80s linear infinite;

.cases
	.section-title:after
		top 10px
		left 20px
.work
	.section-title:after
		left 18px

.reviews
	.section-title:after
		left 15px
		right 0

.factors
	.section-title:after
		left 15px
		top 7px
		z-index 1

.founder
	.section-title:after
		left 15px

.services
	.section-title
		position relative
		z-index 100
		text-shadow: 4px 5px 0 clr-smm;
		&:after
			z-index -1
@keyframes shad-anim {
	0% {background-position: 0 0}
	0% {background-position: 100% -100%}
	}

@media (max-width 480px)
	.principles-item--1 .principles-item__pic,
	.principles-item--2 .principles-item__pic
		transform scale(1.4)
	.principles-item--5 .principles-item__pic
		transform scale(1.4)
	.founder .section-title{
		font-size: 42 !important;
	}
